@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  cursor: pointer;
}

.page-header-container {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  margin-top: 40px;
  min-height: 300px;
  background-color: #FFE17F;
}

.logo-link-header {
  position: absolute;
  top: 20px;
  left: 112px;
}

.logo-link-header:hover {
  opacity: 0.6;
}

.logo-link-header:focus {
  outline: none;
}

.logo-link-header:active {
  opacity: 0.3;
}

.logo-link-header:focus-visible {
  outline: 2px solid #AF4FFF;
}

.header-wrapper {
  width: 1040px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-form {
  display: grid;
  grid-template-columns: 357px 160px;
  grid-template-rows: 40px;
  width: 517px;
  margin-top: 46px;
  margin-right: 26px;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #FFE17F;
  padding: 9px 115px 8px 48px;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-radius: 0 20px 20px 0;
}

.private-office-link {
  margin-right: 150px;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 50px;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-devise {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #FFE17F;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.comparison-link {
  margin-left: 26px;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.navigation-link-user {
  position: relative;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  letter-spacing: 0;
  text-transform: none;
}

.navigation-link-user svg {
  padding-right: 12px;
}

.navigation-item-user {
  display: flex;
  align-items: flex-start;
}

.basket-number-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  left: 1px;
  min-width: 21px;
  min-height: 21px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.basket-icon {
  padding-left: 18px;
}

.navigation-link .basket-icon {
  padding-right: 8px;
}

.open-close-catalog {
  margin-right: 276px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  width: 471px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.devise-slider-container {
  display: flex;
  margin-top: -110px;
  position: relative;
}

.devise-slider-unactive {
  display: none;
}

.slider-number {
  display: block;
  margin-top: -70px;
  margin-left: 900px;
  font-weight: 700;
  font-size: 180px;
  color: #FFFFFF;
  background-color: #FFE17F;
}

.slider-pagination {
  display: flex;
  justify-content: center;
}

.devise-info {
  width: 545px;
  padding-top: 120px;
  padding-left: 40px;
}

.devise-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}


.slider-button {
  /*position: absolute;*/
  background-image: url("/images/slider/slider-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.devise-description {
  margin-top: 29px;
  margin-bottom: 50px;
  color: #444444;
}

.button-info {
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 10px 36px 10px 39px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.button-info::after {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 16px;
  left: 0;
  height: 8px;
  background-color: #FFE17F;
  content: "";
}
.button-info:hover {
  background-color: #FFE17F;
}

.button-info:focus {
  outline: none;
}

.button-info:active {
  background-color: #FFCC33;
}

.button-info:focus-visible {
  outline: 2px solid #AF4FFF;
}
.button-info:disabled {
  opacity: 0.3;
}
.info-table {
  margin-top: 50px;
}

.info-table-data {
  font-size: 36px;
}

.info-table-heder {
  font-weight: 400;
  font-size: 16px;
  color: #444444;
  padding-top: 12px;
  padding-right: 20px;
}

.category-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {

  width: 160px;
  margin-top: 70px;
  margin-bottom: 70px;

}

.category-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  background-color: #FFE17F;
}

.category-icon {

  background-size: 160px 160px;
}

.category-link {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}
.category-link:focus-visible {
  outline: 2px solid #AF4FFF;
}
.category-link:active {
  opacity: 0.3;
}
.category-link .category-icon-wrapper:hover {
  background: #FFC700;

}
.category-title {
  font-size: 18px;
  margin-top: 32px;
}

.service-container {

  background-color: #F0F0F0;
}

.service {
  width: 1160px;
  margin: 0 auto;

}

.service-columns {
  display: flex;
  flex-wrap: wrap;


}

.slider-service {
  width: 287px;
  margin: 0;
  padding-left: 0;
  padding-top: 64px;
  padding-bottom: 75px;
}

.servise-container {
  width: 479px;
  margin: 0;
  padding: 73px 106px 72px 116px;
  margin-right: 136px;
}
.slider-service-item:not(:last-child) {
  margin-bottom: 34px;
}

.slider-service-button {
  font-family: "Raleway", sans-serif;
  padding: 9px 134px 11px 17px;
  border: none;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.slider-service-button-current {
  color: #FFE17F;
  background-color: #000000;
}
.button-guarantee {
  padding-right: 139px;
  }
.button-credit {
  padding-left: 35px;
  padding-right: 149px;
}
.slider-service-button:hover {
  color: #FFE17F;
  background-color: #000000;
}
.slider-service-button:active {
  color: #FFE17F;
  background-color: #000000;
}
.slider-service-button:focus{
  color: #FFE17F;
  background-color: #000000;
}
.slider-service-button:focus-visible {
  color: #FFE17F;
  background-color: #000000;
  outline: 2px solid #AF4FFF;
}
.delivery-service {
  position: relative;
  width: 448px;
}
.delivery-service::after {
  position: absolute;
  content: url("/images/index/deliveryman.svg");
  bottom: 82px;
    right: -136px;
}
.guarantee-service {
  position: relative;
padding-right: 79px;
margin-right: 171px;
}
.guarantee-service::after {
  position: absolute;
  content: url("/images/index/guarantee-service.svg");
  bottom: 70px;
    right: -170px;
}
.credit-service {
position: relative;
}
.credit-service::after {
  position: absolute;
  content: url("/images/index/credit-man.svg");
  bottom: 70px;
    right: -145px;
}
.servise-unactive {
  display: none;
}

.service-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 34px;
}

.service-description {
  margin: 0;
  color: #444444;
}

.delivery-button-container {
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  background-color: #F0F0F0;
}

.delivery-button-icon {
  width: 125px;
  height: 100px;
  background-image: url("/images/index/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFE17F;
}

.delivery-button {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.icon-info {
  opacity: 0.3;
}
.delivery-button-container .delivery-button-icon:hover {
  background-color: #FFC700;
}
.delivery-button-icon-info svg:hover {
  opacity: 1;
}
.delivery-button-container:active {
  opacity: 0.3;
  border: none;
}
.delivery-button-container:focus {
  outline: none;
}
.delivery-button-container:focus-visible {
  outline: 2px solid #AF4FFF;
}
.delivery-button:focus-visible {
  outline: 2px solid #AF4FFF;
}
.delivery-button-icon-wrapper {
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-button-icon-info {
  display: flex;
  justify-content: center;
    align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.about-contacts-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.about-title {
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-description {
  color: #444444;
  margin-bottom: 30px;
  padding-right: 23px;
}

.transport-company {
  margin-bottom: 11px;
}

.transport-company-item {
  padding-bottom: 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.contacts {
  width: 532px;
  margin-bottom: 70px;
}

.contacts-title {
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts-description {
  color: #444444;
  padding-right: 36px;
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
  color: #444444;
}

.contacts-address-text {
  margin: 0;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule {
  margin-bottom: 30px;
}

.contacts-schedule-item {
  color: #444444;
}

.contacts-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 6px 10px;
}

.subscribe-container {
  background-color: #F0F0F0;
}

.subscribe {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 56px;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  width: 348px;
  margin: 64px 252px 144px 0;
}

.subscribe-description {
  margin: 74px 0 144px 0;
  width: 560px;
  color: #444444;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  padding: 18px 39px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  cursor: pointer;
}

.free {
  color: #444444;
}
.logo-link:hover {
  opacity: 0.6;
}

.logo-link:focus {
  outline: none;
}

.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer-address {
  width: 240px;
  margin-top: 62px;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.address-text {
  margin-top: 35px;
  margin-bottom: 64px;
}

.footer-menu {
  width: 444px;
}

.footer-menu-list {
  margin-top: 137px;
  margin-bottom: 62px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 61px;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.button-social {
  padding: 12px 12px;


}

.page-footer-phone {
  width: 175px;
  margin-top: 140px;
}

.footer-phone {
  margin-bottom: 63px;
}

.footer-phone-link {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.logo-academy-link {
  margin-bottom: 65px;
  margin-left: 60px;
}

/*Каталог*/
.catalog-header-container {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  margin-top: 40px;
  min-height: 186px;
  background-color: #FFE17F;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-title {
  margin-top: 35px;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.button-user-exit {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: #FFE17F;
  cursor: pointer;
  padding: 0;
  margin-left: 28px;
  margin-right: 0;
  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 34px;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 36px;
}
.breadcrumbs-item::after {
  position: absolute;
  right: -20px;
  top: 0;
  content: url("/images/catalog/breadcrumbs-arrow.svg");
  opacity: 0.2;
}
.breadcrumbs-item:last-child::after {
  content: none;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}
.catalog-filter-wrapper {
  display: flex;
  flex-direction: column;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 26px;
}

.sorting-container .sorting-button {
  width: 30px;
  height: 30px;
}

.select-control {
  width: 141px;
}

.sorting-button-wrapper {
  width: 60px;
  height: 30px;
}

.sorting-button {
  padding: 8px 10px;
  opacity: 0.3;
}

.catalog-products {
  background-color: #F0F0F0;

}

.catalog-products-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter {
  width: 220px;
  margin-right: 40px;
}

.control {
  font-size: 16px;
  line-height: 20px;
}

.control-button {
  position: relative;
  min-width: 220px;
  min-height: 40px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
.control-button::before {
  position: absolute;
  right: 0;
  top: 16px;
  left: 0;
  height: 8px;
  content: "";
  background-color: #FFE17F;
}
.catalog-right-column {
  width: 840px;
  margin-top: 26px;
}
.catalog-container {
  background-color: #FFFFFF;
  padding: 70px 40px 78px 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin-bottom: 44px;
}

.product-card {
  display: grid;
  grid-template-columns: 226px 134px;
  grid-template-rows: 380px 32px 40px;
}

.product-card-link {
  grid-column: 1 / -1;
}

.product-card-image {
  object-fit: contain;
  vertical-align: middle;
}

.product-card-title-link {
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-title {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;

}

.product-card-price {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin-left: auto;
  font-weight: 400;
  line-height: 21px;
  color: #444444;
}

.button-show-more {
  width: 760px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
}

.pagination-container {
  display: flex;
  margin-top: 44px;
}

.pagination {
  display: flex;
  align-items: center;
  background-color: #F0F0F0;
}

.pagination-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-prev {
  font-family: "Raleway", sans-serif;
  padding: 25px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-number {
  width: 200px;
  display: flex;
  margin-left: 143px;
  margin-right: 143px;
}

.pagination-number .pagination-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40px;
  height: 40px;
}

.pagination-next {
  font-family: "Raleway", sans-serif;
  padding: 25px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
}
